body {
    font-family: Arial, Helvetica, sans-serif;

}
/* separator koma "," untuk property yang sama */
h1, h2 {
    color: green;

}
/* separator spasi " " untuk lebih spesifik */
ul li a{
    color: orange;
}

ol li a{
    color: red;
}
/* untuk id gunakan kres "#" */
#p1 {
    color: red;
}
/* untuk class gunakan titik "." */
.p2 {
    color: orange;
}

